/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #373737;
  background-color: #F4F4F4;
}

.portfolio {
  width: 100%;
  height: 600px;
  background-color: #C0B283;
  margin-top: 60px;
}

.conteudo {
    margin-bottom: 20px;
}

.tituloportfolio {
  text-align: center;
  padding-top: 20px;
}

  .tituloportfolio:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 2px auto;
    margin-bottom: 40px;
  }

  .profissional {
      margin-top: 60px;
  }

.fotoprof {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: solid;
  border-color: #C0B283;
  margin-right: 20px;
  float: left;
}

.textoprof {
    margin-top: 40px;
}

