<div class="container">
  <h2 class="tituloprocedimentos">Procedimentos</h2>
</div>


<div class="container">
  <div class="row no-gutters">
    <div class="col-4 margembaixo">
      <img src="/assets/proc2.jpg" />
      <h3 class="subtitulo-proc">Massagem Modeladora</h3>
    </div>

    <div class="col-4">
      <img src="/assets/proc2.jpg" />
      <h3 class="subtitulo-proc">Massagem Modeladora</h3>
    </div>

    <div class="col-4">
      <img src="/assets/proc2.jpg" />
      <h3 class="subtitulo-proc">Massagem Modeladora</h3>
    </div>

    <div class="col-4">
      <img src="/assets/proc2.jpg" />
      <h3 class="subtitulo-proc">Massagem Modeladora</h3>
    </div>

    <div class="col-4">
      <img src="/assets/proc2.jpg" />
      <h3 class="subtitulo-proc">Massagem Modeladora</h3>
    </div>

    <div class="col-4">
      <img src="/assets/proc2.jpg" />
      <h3 class="subtitulo-proc">Massagem Modeladora</h3>
    </div>

  </div>
</div>
