<app-header></app-header>
<app-procedimentos></app-procedimentos>

<section class="portfolio">
<h2 class="tituloportfolio">Portfólio</h2>

  <div class="container">
    <div class="row no-gutters">
      <div class="col-4 conteudo">
        <img src="/assets/proc2.jpg" />
      </div>

      <div class="col-4 conteudo">
        <img src="/assets/proc2.jpg" />
      </div>

      <div class="col-4 conteudo">
        <img src="/assets/proc2.jpg" />
      </div>

      <div class="col-4 conteudo">
        <img src="/assets/proc2.jpg" />
      </div>

      <div class="col-4 conteudo">
        <img src="/assets/proc2.jpg" />
      </div>

      <div class="col-4 conteudo">
        <img src="/assets/proc2.jpg" />
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container profissional">
    <h2 class="tituloportfolio">Profissional</h2>
    <p class="textoprof">
      <img class="fotoprof" src="/assets/cocota.jpg" />
      A certificação de metodologias que nos auxiliam a lidar com a contínua expansão de nossa atividade
      estimula a<br /> padronização das novas proposições. A certificação de metodologias que nos auxiliam a lidar
      com a contínua expansão de<br /> nossa atividade estimula a padronização das novas proposições.
      A certificação de metodologias que nos auxiliam a lidar<br /> com a contínua.<br />
      A certificação de metodologias que nos auxiliam a lidar com a contínua expansão de nossa atividade
      estimula a<br /> padronização das novas proposições. A certificação de metodologias que nos auxiliam a lidar
      com a contínua expansão de<br /> nossa atividade estimula a padronização das novas proposições.
      A certificação de metodologias que nos auxiliam a lidar<br /> com a contínua.
    </p>
  </div>
</section>
