<section class="procedimentos container">
  <h2 class="tituloprocedimentos">Procedimentos</h2>
  <div class="container">
    <div class="row no-gutters img-proc">

      <div class="col-xl">
        <img src="/assets/proc1.jpg" />
        <h3 class="subtitulo-proc">Massagem Modeladora</h3>
      </div>

      <div class="col-xl">
        <img src="/assets/proc1.jpg" />
        <h3 class="subtitulo-proc">Esfoliamento Facial</h3>
      </div>

      <div class="col-xl">
        <img src="/assets/proc1.jpg" />
        <h3 class="subtitulo-proc">Drenagem Linfática</h3>
      </div>

      <div class="col-xl">
        <img src="/assets/proc1.jpg" />
        <h3 class="subtitulo-proc">Pós Operatório</h3>
      </div>

    </div>
  </div>

  <div class="txt-proc">
    <p>Conheça todos os procedimentos</p>
    <button class="btn btn-outline-dark btn-sm btn-proc">CLIQUE AQUI</button>
  </div>
</section>
