<section class="container procedimentos">
  <h2 class="tituloprocedimentos">Procedimentos</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm.no-gutters pdcol">
        <img src="/assets/proc1.jpg" />
      </div>
      <div class="col-sm.no-gutters pdcol">
        <img src="/assets/proc1.jpg" />
      </div>
      <div class="col-sm.no-gutters pdcol">
        <img src="/assets/proc1.jpg" />
      </div>
      <div class="col-sm.no-gutters pdcol">
        <img src="/assets/proc1.jpg" />
      </div>
    </div>
  </div>
</section>
